[Desktop Entry]
Version=1.0
Name=RCoin
Comment=Connect to the RCoin P2P Network
Comment[de]=Verbinde mit dem RCoin peer-to-peer Netzwerk
Comment[fr]=RCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=RCoin, eşten eşe kriptografik sanal para birimi
Exec=bitcoin-qt %u
Terminal=false
Type=Application
Icon=bitcoin128
MimeType=x-scheme-handler/rcoin;
Categories=Office;Finance;
StartupWMClass=Bitcoin-qt
